<launch>
    <arg name="info" default="/stereo/left/camera_info" />
    <arg name="image" default="/stereo/left/image" />

    <node pkg="blort_ros" type="learnsifts" name="blort_learnsifts" args="$(find blort_ros)" output="screen">
        <remap from="/blort_camera" to="$(arg info)" />
        <remap from="/blort_image" to="$(arg image)" />
    </node>

</launch>

